<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Genre List</title>
	<meta http-equiv="Content-Type" charset="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<table class="table table-striped">
		<tr>
			<th>Name</th>>
		</tr>
		<tr th:each = "genre: ${genres}">
			<td th:text=${genre.name}></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletegenre/{id}(id=${genre.genreid})}" class="btn btn-danger">Delete</a></td>
			<td> <a th:href="@{/editgenre/{id}(id=${genre.genreid})}">Edit Genre</a></td>
		</tr>
		<div><a href="/addcategory" class="btn btn-primary">Add Genre</a></div>
	</table>
</body>
</html>